{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "printWidth": 100,
  "proseWrap": "preserve"
}
